.hero {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 524px;
  padding-top: 184px;

  background-color: rgba(7, 48, 66, 1);
  background-image: url(../../images/praktikum-logo.png);
  background-repeat: no-repeat;
  background-position: center 82px;
  background-size: 320px;
}

@media (max-width: 768px) {
  .hero {
    height: 784px;
    padding-top: 326px;

    background-position: center 224px;
  }
}

@media (max-width: 360px) {
  .hero {
    height: 570px;
    padding-top: 207px;

    background-position: center 142px;
    background-size: 248px;
  }
}

.hero__text {
  max-width: 730px;
  margin: 0;

  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .hero__text {
    padding: 0 20px;
  }
}

@media (max-width: 515px) {
  .hero__text {
    padding: 0 10px;

    font-size: 41px;
    line-height: 1.26;
  }
}

@media (max-width: 360px) {
  .hero__text {
    font-size: 31px;
  }
}
