.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.checkbox__input {
  position: relative;

  padding: 0 0 0 48px;

  font-size: 12px;
  line-height: 1.5;
  color: white;

  cursor: pointer;
  opacity: 1;

  -webkit-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.checkbox__input:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .checkbox__input {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 400px) {
  .checkbox__input {
    padding: 0 0 0 51px;
  }
}

/* Скрываем стоковый инпут */
.checkbox__input input {
  display: none;
}

/* Делаем подложку */
.checkbox__input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 36px;
  height: 20px;

  background-color: rgba(52, 52, 52, 1);
  border-radius: 20px;

  transition: all 0.4s ease 0s;
}

/* Делаем бегунок */
.checkbox__input::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 16px;
  height: 16px;

  background-color: rgba(160, 160, 160, 1);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  transition: all 0.4s ease 0s;
}

/* Что делать при добавлении класса active */
.checkbox__input_active::before {
  background-color: rgba(61, 220, 132, 1);
}

.checkbox__input_active::after {
  left: 18px;

  background-color: rgb(228, 228, 228);
}
